:root{
    --brand-color: rgb(0, 128, 0);
    --second-brand-color: rgb(255,255,255);
    --title-fonts:
}
body{
    font-family: "noto", sans-serif;
    color: #555555;
font-weight: 400;
font-size: 14px;
line-height: 1.2;
letter-spacing: 3%;

}
ul, p, h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {
    color: var(--brand-color);
    font-family: "Alumni Sans Collegiate One", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 80px;
    line-height: 100%;
   letter-spacing:2.2%;
    text-align: center;
    margin-bottom: 40px;
    
    }
    figure{
        margin: 0;
       
    }
    img{
        display: block;
         border-radius: 10px;
        overflow: hidden;
    }
    .list{
        list-style: none;
    }
    .link{
        text-decoration: none;
        color: inherit;
        
    }
    .link:hover,:focus{
        color:var(--second-brand-color);
        background-color: var(--brand-color);

    }

    .container{
        
        width: 1220px;
        margin: 0 auto;
        padding: 15px;
    }
    /*---------------------------header----------------------*/
    .header{
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-up{
        display: flex;
        justify-content: flex-end;
        border-bottom:solid 2px var(--brand-color) ;
    }
    .header-down{
         border-bottom:solid 2px var(--brand-color) ;

    }
    .header-nav{
       

        font-size: 18px;

    }
    .nav-link{
        display: block;
        padding: 15px;
border-radius: 25px;
        
    }
    .nav-item{
       margin-top: 5px;
       margin-bottom: 5px;
      
    }
    /*.nav-item:not(:last-child){
        margin-left: 25px;
    }*/
    .text-header{
        padding-bottom: 10px;
        padding-top: 10px;
        margin-right: 60px;
    }
    .socials-header{
        display: flex;
        
    }
    .social:not(:last-child){
        margin-right: 40px;
    }
    .social-link{
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 0px;
    }
    .social-img{
        border-radius: 0px;
    }
    .nav-items{
        display: flex;
       
    }
    .nav-teams{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top:solid 2px var(--brand-color) ;
    }
    .nav-teams:not(:last-child){
        margin-left: 25px;
    }
    /*________________________sezione footer________________*/
    .footer-section{
        
        
        background-color: #212121;
        color: var(--second-brand-color);
    }
    .footer-list{
display: flex;
justify-content: space-between;
margin-left: auto;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
       
    }
    .footer-info{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    address{
        margin-right: auto;
    }
    .footer-social{
        display: flex;
    }
    .footer-sections{
        display: inline-block;
      
        align-items: center;
    
       
    }
    .copyriht-section{
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    .creatore{
        font-family: Brush Script MT;
    }
    /*________________________sezione Hero________________*/
    .hero{
        padding-top: 20px;
        padding-bottom: 20px;
        height: 900px;

        
        background-color:var(--brand-color);
        
        background-image: url(../imgs/back.jpg);
 
        background-position: center;
        background-size: cover;
        
    }
    .hero > .container{
       height: inherit;
    }
    .hero-title{
        text-shadow: 3px -5px 0px rgba(241,232,232,1), 3px 9px 0px rgba(241,232,232,1);
    }
   
    .hero-slogan{
        width: 50%;
        font-family: "Faster One" , sans-serif;
        font-size: 60px;
        margin-bottom: 60px;
         margin-left: auto;
         margin-right: auto;

         color: var(--second-brand-color);

    }
   .hero-text{

    width: 50%;
    font-weight: 600;
    font-size: 35px;
    line-height: 100%;
   letter-spacing:2%;

   color: #3e643a;
background-color: rgba(241,232,232,0.6);
border-radius: 25px;
padding: 10px;

}
/*---------------------------news----------------------*/
.news{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../imgs/sfondo4.jpeg);
}

/*---------------------------sponsor----------------------*/
.partners{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../imgs/sfondo2.jpeg);
    background-position: center;
    background-size: cover;
}
.partners-title{
    color: var(--second-brand-color);
}
.partners-list{
display: flex;
flex-wrap:wrap ;
justify-content:space-between ;
align-items: flex-start;
}
.pernter-link{
    display: block;
}
.partner-item{
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 12px 11px 30px 6px rgba(0,0,0,0.57);
-webkit-box-shadow: 12px 11px 30px 6px rgba(0,0,0,0.57);
-moz-box-shadow: 12px 11px 30px 6px rgba(0,0,0,0.57);
}
/* _____________________________sezione squadre_____________*/
.list-squadre{
    font-family: "Faster One" , sans-serif;
    font-size: 40px;
    line-height: 100%;
   letter-spacing:2.2%;

   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.img-squadra{
    text-align: center;
    margin-bottom: 20px;
   
}
.img-squadra img{
margin-left: auto;
margin-right: auto;
}
.squadra{
    width: 500px;
    justify-items: center;
    text-align: center;
     margin-bottom: 40px;
}
/* ----------------------------------prossime partite---------------*/
.prossime-partite{
    background-color: var(--brand-color);
}
.partite-div{
    background-color: rgba(255, 255, 255, 0.801);
}

.list-games{
display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.game{
    margin-bottom: 40px;
}
/*------------------------------galleria-------------------*/
.galleria-title{
    margin-bottom: 60px;
}
.galleria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.foto{
    margin-bottom: 40px;
}
/* _____________________________pagina chi siamo_____________*/
.aboutus-section{
    display: block;
    display: flex;
    align-items: center;
}
.aboutus-text{
    width: 50%;
    
}
.aboutus-text p{
    font-size: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.direttivo-list{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.direttivo-staf{
font-size: medium;
font-family:"Faster One" , 'Arial Narrow', Arial, sans-serif;
color: var(--brand-color);
    font-family: "Faster One" , sans-serif;
    font-size: 30px;
    line-height: 100%;
   letter-spacing:2.2%;
   border: solid,var(--brand-color);
    padding: 20px;
    width: 380px;
    margin-bottom: 15px;
}

.portret{
    color: var(--brand-color);
    font-family: "Faster One" , sans-serif;
    font-size: 22px;
    line-height: 100%;
   letter-spacing:2.2%;


}
.list-gioccatore{
   display: flex;
   flex-wrap: wrap;
justify-content: space-between;
}
.schieda-gioccatore{
    width: 380px;
    margin-bottom: 15px;
}
.text-saveguard{
    font-size: 30px;
    width: 800px;
    margin-bottom: 20px;
}
/* _____________________________pagina eventi_____________*/
.text-eventi{
    color: var(--brand-color);
    font-family: "Faster One" , sans-serif;
    font-size: 40px;
    line-height: 100%;
   letter-spacing:2.2%;

   margin-bottom: 20px;
}
.list-eventi{
    color: var(--brand-color);
    font-family: "Faster One" , sans-serif;
    font-size: 22px;
    line-height: 100%;
   letter-spacing:2.2%;

   text-align: center;
   
}
.img-eventi{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
/* _____________________________pagina palestre e orari_____________*/
.text-palestre{
    font-size: 30px;
    line-height: 100%;
   letter-spacing:2.2%;

   margin-bottom: 20px;
   text-align: center;
}
/* _____________________________pagina contatti_____________*/
.contact-section{
    background-image: url(../imgs/sfondo\ sito.jpeg);
}
.contact-container{
    background-color:rgba(255, 255, 255, 0.801);
}
.text-contatti{
    font-size: 30px;
    line-height: 100%;
   letter-spacing:2.2%;

   width: 800px;
   margin-bottom: 40px;
   margin-left: 15px;
}
.contact-link{
    display: inline-block;
    text-align: center;
  padding: 45px;
  border-radius: 25px;
}
.contact-list{
display: block;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
text-align: center;

}
.contact-item{
font-size: 40px;
align-content: center;
width: 500px;
height: 200px;
margin-bottom: 20px;
border: solid, black, 1px;
border-radius: 20px;
}
.contact-img{
    margin-left: auto;
    margin-right: auto;
}
.contact-mail{
    width: 600px;
}
/* _____________________________tabella_____________*/
.tabella-body > tr:hover {
  background-color:var(--brand-color);
  color: white;
}
.tabella {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}
caption{
    font-size: 25px;
    margin-bottom: 20px;
}

.tabella th,
.tabella td {
  padding: 8px;
  border: 1px solid #212121;
}
.div-btn{
    text-align: center;
}
.classifica-btn{
    padding: 20px;
    margin: 20px;
    border: solid black;
    border-radius: 50px;
    background-color: var(--brand-color);
    color: var(--second-brand-color);
}
.classifica-btn:hover,:focus{
background-color:var(--second-brand-color);
    color:var(--brand-color);
}